
  <%= @user.name %>さんのページ</div>
  <div class=""><%= link_to "変更する", edit_user_registration_path(@user.id) %></div>

  <h2><%=@current_user.name%>さんのお気に入り一覧</h2>
      

  <h3><%= link_to "投稿一覧画面へ",blogs_path %></h3>
